<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--必须配置-->
        <property name="connection.url">jdbc:mysql://localhost:3306/hellossh</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1</property>

        <!-- 可选项配置 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--使用getCurrentSession打开每次数据库连接-->
        <property name="hibernate.current_session_context_class">thread</property>

        <!--加载映射文件-->
        <mapping resource="resources/Department.hbm.xml"/>
        <mapping resource="resources/Post.hbm.xml"/>
        <mapping resource="resources/Staff.hbm.xml"/>

    </session-factory>
</hibernate-configuration>